---
import SectionLayout from '../../layouts/SectionLayout.astro'
import Arrow from '../../assets/icons/arrow.svg'
import ActionButton from '../ActionButton.astro'
import ShoppingBag from '../../assets/icons/shoping-bag.svg'
import LinkButton from '../../components/LinkButton.astro'

// Interface
interface Props {
  title?: string
  description?: string
}

// Props
const { title, description } = Astro.props

// Page Properties
const sectionTitle = title || 'Page Title'
const sectionDescription = description || 'Generic Page'
---

<SectionLayout
  id={sectionTitle}
  title={sectionTitle}
  description={sectionDescription}
  noPadding
  classes="relative overflow-hidden"
  x-intersect:leave="scrollHeader = false">
  <!-- Page Contents -->
  <div class="flex justify-center items-center z-20 flex-col">
    <div class="flex min-h-32"></div>
    <div class="flex flex-col h-full justify-end items-center gap-4">
      <h2
        class="relative text-4xl max-w-xl mobile:text-6xl font-semibold text-sky-950/80 text-center"
        style="content-visibility: auto;">
        <span
          class="bg-gradient-to-t from-sky-950/80 from-20% to-70% to-sky-950/60 bg-clip-text text-transparent">
          Heavenly Touch, Divine Scent
        </span>
      </h2>
      <h3 class="text-sky-900 text-sm tablet:text-xl text-center">
        Infused with pure <em class="font-bold">Italian</em> Artisanal Gelato Aromas
      </h3>
      <div class="flex gap-6 text-sky-950 mt-8 justify-center items-center">
        <ActionButton
          label="Visit Our Store"
          glare>
          <ShoppingBag
            width={24}
            height={24}
          />
        </ActionButton>
        <LinkButton
          title="Learn More"
          animatedIcon
          icon>
          <Arrow
            class=""
            width={28}
            height={28}
          />
        </LinkButton>
      </div>
    </div>
    <div class="h-[60svh] w-screen max-w-screen-large relative"></div>
  </div>

  <img
    src="./bg.png"
    alt=""
    class="absolute inset-0 w-full h-full mx-auto object-cover object-center"
  />
  <!-- Bottom Overlay -->
  <div
    class="absolute top-1/2 bottom-0 w-full from-10% to-30% bg-gradient-to-t from-sky-200/100 to-black/0 z-50">
  </div>
  <!-- Top Overlay -->
  <div
    class="absolute top-0 bottom-1/2 w-full from-10% to-50% bg-gradient-to-b from-sky-50/100 to-sky-100/0">
  </div>
</SectionLayout>
