---
import SectionLayout from '../../layouts/SectionLayout.astro'
import Arrow from '../../assets/icons/arrow.svg'
import ActionButton from '../ActionButton.astro'
import ShoppingBag from '../../assets/icons/shoping-bag.svg'
import LinkButton from '../../components/LinkButton.astro'

// Interface
interface Props {
  title?: string
  description?: string
}

// Props
const { title, description } = Astro.props

// Page Properties
const sectionTitle = title || 'Page Title'
const sectionDescription = description || 'Generic Page'
---

<SectionLayout
  id={sectionTitle}
  title={sectionTitle}
  description={sectionDescription}
  noPadding
  classes="relative overflow-hidden"
  x-intersect:leave="scrollHeader = false">
  <!-- Page Contents -->
  <div class="flex justify-center items-center z-20 flex-col">
    <div class="flex min-h-32"></div>
    <div class="flex flex-col h-full justify-end items-center gap-4">
      <h2
        class="relative text-4xl max-w-sm mobile:max-w-lg mobile:text-6xl font-semibold text-sky-950/80 text-center py-2"
        style="content-visibility: auto;">
        <span
          class="bg-gradient-to-t from-sky-950/90 from-20% to-70% to-sky-950/60 bg-clip-text text-transparent">
          All-in-One <br /> Face & Body Cremè
        </span>
      </h2>
      <h3
        class="text-sky-900 text-lg max-w-sm tablet:max-w-xl tablet:text-xl text-center">
        Experience luxurious skincare infused with heavenly scents and <em
          class="font-bold">Advanced Ice-Lift Technology</em
        > rejuvenate, hydrate, and transform your skin.
      </h3>
      <div
        class="flex mobile:flex-row flex-col gap-6 text-sky-950 mt-8 justify-center items-center">
        <ActionButton
          label="Discover Gelato Glacè"
          glare>
          <ShoppingBag
            width={24}
            height={24}
          />
        </ActionButton>
        <LinkButton
          classes="hidden mobile:flex"
          title="Or Visit the Store"
          animatedIcon
          icon>
          <Arrow
            class=""
            width={28}
            height={28}
          />
        </LinkButton>

        <div class="animate-bounce mobile:hidden">
          <Arrow
            class="rotate-90 scale-150 translate-y-6"
            width={28}
            height={28}
          />
        </div>
      </div>
    </div>
    <div
      class="h-[40svh] mobile:h-[54svh] w-screen max-w-screen-large relative">
    </div>
  </div>

  <div class="absolute inset-0 flex scale-105">
    <img
      src="./bg-mobile.png"
      alt=""
      class="background w-screen h-auto mx-auto object-cover object-bottom flex mobile:hidden"
    />
    <img
      src="./bg.png"
      alt=""
      class="background w-screen h-auto mx-auto object-cover object-bottom hidden mobile:flex large:hidden"
    />
    <img
      src="./bg-large.png"
      alt=""
      class="background w-screen h-auto mx-auto object-cover object-bottom hidden large:flex"
    />
  </div>

  <!-- Floating Elements -->

  <div class="absolute inset-0 flex">
    <!-- <img -->
    <!--   height="200px" -->
    <!--   width="auto" -->
    <!--   src="./element-01.png" -->
    <!--   alt="" -->
    <!--   class="element-02 absolute top-[60%] right-[5%] blur-md" -->
    <!-- /> -->
    <!-- <img -->
    <!--   height="200px" -->
    <!--   width="auto" -->
    <!--   src="./element-02.png" -->
    <!--   alt="" -->
    <!--   class="element-01 absolute top-[60%] left-[4%] blur-lg" -->
    <!-- /> -->
  </div>

  <!-- Bottom Overlay -->
  <div
    class="absolute top-3/4 bottom-0 w-full from-0% to-25% via-20% to-pink-200/0 bg-gradient-to-t from-sky-200/100 via-yellow-100/0 z-50">
  </div>
  <!-- Top Overlay -->
  <div
    class="absolute top-0 bottom-1/2 w-full from-10% to-50% bg-gradient-to-b from-sky-50/100 to-sky-100/0">
  </div>
</SectionLayout>

<script>
  import { animate, scroll } from 'motion'

  scroll(animate('.background', { y: 2000 }))
</script>
