---
import Logo from '../assets/logo.svg'
import GrandLogo from '../components/GrandLogo.astro'
import ShoppingBag from '../assets/icons/shoping-bag.svg'
import Login from '../assets/icons/login.svg'
import HotSales from '../assets/icons/hot-sales.svg'
import Arrow from '../assets/icons/arrow.svg'
import Story from '../assets/icons/story.svg'
import IceCreame from '../assets/icons/ice-cream.svg'
import Hamburger from '../assets/icons/hamburger.svg'
import LinkButton from '../components/LinkButton.astro'
import NavigationLink from '../components/NavigationLink.astro'

// Component Header
interface Props {
  links: string[]
}

const { links } = Astro.props
const description = 'Generic Component Description'
---

<header
  class="absolute top-0 left-0 right-0 min-h-48 flex justify-between items-center z-50 px-16 max-w-[1890px] mx-auto text-sm text-sky-950/90">
  <!-- Left Section / Links -->
  <div class="text-sm font-medium flex gap-10 items-center">
    <div
      class="bg-pink-200 rounded-full px-3 py-1 ring-[2px] ring-sky-950 hover:py-2 transition-all delay-75 cursor-pointer ease-in-out">
      <Hamburger
        class="fill-sky-950"
        width={28}
        height={24}
      />
    </div>

    <LinkButton
      small
      fullWidth
      icon
      title="Our Story">
      <Story
        width={20}
        height={20}
      />
    </LinkButton>
    {
      links.slice(0, 1).map((link) => (
        <LinkButton
          small
          fullWidth
          title={link}
        />
      ))
    }
  </div>
  <!-- Center Section / Logo -->
  <div
    class="absolute inset-0 flex flex-col w-fit mx-auto justify-center items-center">
    <GrandLogo
      title="headerlogo"
      emblem
    />
  </div>
  <!-- Right Section / Call to Action -->
  <div class="flex gap-8">
    <!-- Call to Action -->
    <button
      class="text-md font-semibold px-4 justify-center items-center rounded-full flex gap-2 relative bg-gradient-to-tr from-sky-950 to-sky-900 text-pink-200 py-2">
      <ShoppingBag
        width={28}
        height={28}
      />
      Shop Now
    </button>

    <div class="flex justify-center items-center gap-2">
      <!-- Gelato Icon -->
      <button>
        <IceCreame
          width={28}
          height={28}
        />
      </button>

      <!-- Login / Signup -->
      <button>
        <Login
          width={28}
          height={28}
        />
      </button>
    </div>
  </div>
</header>
