---
// Component Navigation Link
interface Props {
  title?: string
}

const { title = 'Generic Link' } = Astro.props
const description = 'Navigation Link'
---

<button
  class="group relative font-semibold text-sm flex justify-center items-center h-fit">
  <div class="relative py-1">
    {title}
    <div
      class="absolute inset-0 border-b-sky-950 border-b-[3px] scale-x-0 group-hover:scale-x-100 transition-transform delay-75 origin-left duration-500">
    </div>
  </div>
</button>
