---
import { _slugify } from '../ts/utils'
interface Props {
  title: string
  description: string
  classes?: string
  id?: string
  fit?: boolean
  noPadding?: boolean
}

const { title, description, fit, classes, id, noPadding, ...rest } = Astro.props

// Default Section Classes
const defaultClasses =
  'flex flex-col justify-center items-center w-full mx-auto p-5 large:p-10'
---

<section
  x-intersect.margin.-10%.0px.-10%.0px="activeLink =$el.dataset.section"
  data-section={_slugify(title)}
  class:list={[
    !noPadding && 'max-w-screen-large',
    noPadding && 'px-0 large:p-0',
    !fit && 'min-h-screen',
    defaultClasses,
    classes,
  ]}
  {id}
  {...rest}>
  <!--Section Contents-->
  <slot />
</section>
